# system ignore
.DS_Store
Thumbs.db
# package ignore (optional)
# *.jar
# *.war
# *.zip
# *.tar
# *.tar.gz

# nodejs ignore
node_modules/
package-lock.json

# RNX JSBUNDLE ignore
bundle/

# eslint-cache
.eslintcache
.vscode/
